body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --image-bg__default: #e5e7eb;
  --button-bg__default: #3b82f6;
  --button-bg__disabled: #93c5fd;
  --bg__default: #f3f4f6;
  --text__disabled: #d1d5db;
  --footer-bg: #111827;
  --white: #fff;
}
